__pycache__
images
ProjectSpecificationV2.pdf
Querying Ecosystem Memory - Project Spec.pdf
Querying Ecosystem Memory - Project Spec.pptx
AmeriFLUX Data
.venv
output.txt
training_results*
pruning_results*
Training Runs
.DS_Store
