__pycache__
ProjectSpecificationV2.pdf
Querying Ecosystem Memory - Project Spec.pdf
Querying Ecosystem Memory - Project Spec.pptx
AmeriFLUX Data
.venv
photon_analysis.py
init_data_analysis.py
output.txt
training_results*
pruning_results*
Training Runs
.DS_Store
*.swp